@import 'font';

@mixin bgc($bgc, $height) {
    background-color: $bgc;
    max-width: 1920px;
    height: $height;
    margin: 0 auto;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin font($size) {
    font-family: sans-serif;
    font-style: normal;
    font-display: swap;
    font-size: $size;
}
